 button {
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    background-color: aquamarine;
  }
  .buttons{
    margin-top: 400px;
    margin-left: 600px;
  }
  .button-One{
    background-color: aquamarine;
  }
  .button-Two{
    background-color: goldenrod;
  }
  .button-Three{
    background-color: palevioletred;
  }